@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  /* background-color: var(--secondary); */
  border-radius: 14px;
  /* border: 3px solid var(--primary); */
}

@keyframes fadeInHorizental {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-in-horizental {
  animation: fadeInHorizental 0.8s ease forwards;
}
