@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInHorizental {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-in-horizental {
  animation: fadeInHorizental 0.8s ease forwards;
}
